@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;400;600&display=swap');
*{
    font-family: 'Source Sans 3', sans-serif;
    text-decoration: none;
    list-style: none;

}

/*header index*/
.logoIndex{
   text-align: center;  
   margin: 50px;
   
}

.headerIndex{
    text-align: center;
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
    color: black;
}

.navbar-nav{
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 182, 200);
    border-radius: 10px;
    border: 1px solid rgb(238, 182, 200);
    text-decoration: none;
    list-style-type: none;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1rem;
}
.nav-item{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: 'Source Sans 3', sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: black;
    list-style: none;
    }


/*main sección index*/

.tituloPrincipalIndex{
    background-image: url("../assets/img/fotoportada.jpg");
    background-size: cover;
    height: 70vh;
    margin: 100px 0px;
}

/* este es el subtitulo */

.container h1{
    text-align: center;
    margin-bottom: 40px;
}

.container img{
    max-width: 100%;
    max-height: 100%;
}

/* estilo main nuestros servicios */

.nuestrosServicios{
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    list-style: none;
    color: black;
    margin: 100px;
}


/*estilos footer*/

.footerPrincipalIndex {
    text-align: center;
    color: black;
    list-style: none;
    background-color: rgb(238, 182, 200);
    font-size: 1rem;
    margin-top: 40px;
}

.divFooterIndex .anclaFooterIndex {
    color: black;
    font-size: 1rem;
}